extends layout

block content
  .jumbotron
    div(class="container wf-nicomoji", style="padding-top: 2.5em;")
      h1.display-3 メンバーリスト
      h3 ここはHUITのかいいんになっているひとびとそれぞれのじこしょうかいやぎじゅつスタック、いままでやってきたポートポリオをけいじするところです。
      p
        a(class="btn btn-primary btn-lg" href="#" role="button") くわしく »
  .container
    .row
      each val in data.val
        .col-md-4
          h2 #{val.name}
          p #{val.bio}
          p
            a(class="btn btn-secondary", href= val.path, role="button") 詳細へ »
    hr
