header
  nav(class="site-header fixed-top py-1")
    div(class="container d-flex flex-column flex-md-row justify-content-between")
      a(class="py-2 d-none d-md-inline-block", href="/") Home
      a(class="py-2 d-none d-md-inline-block", href="https://huitclub.github.io") Github Blog
      a(class="py-2 d-none d-md-inline-block", href="/blog") Site Blog
      a(class="py-2 d-none d-md-inline-block", href="/portfolio") Portfolio
